<h2>Listado de Pizzas vendidas este finde</h2>

<ul>
    {{#each pizzas}}
        <li> {{this.nombre}} - {{this.tam}} x {{this.cantidad}} </li>
    {{/each}}
</ul>

{{#if hasPrevPage}}
    <a href="/pizzas?page={{prevPage}}"> Anterior </a>
{{/if}}

{{#if hasNextPage}}
    <a href="/pizzas?page={{nextPage}}"> Siguiente </a>
{{/if}}
<p>Pagina {{currentPage}} de {{totalPages}} </p>